.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #1a1a2e;
  color: #e94560;
  height: 100vh;
}

.app h1 {
  margin: 0;
  letter-spacing: 1.6px;
  color: #e0e0e0;
}

.app-header {
  background-color: #111;
  border-bottom: 1px solid #444;
  justify-content: center;
  align-items: center;
}


header ul li {
  padding: 8px;
  text-align: center;
}



.body {
  background-color: #1a1a1a; /* Dark theme background */
  color: #fff;
  display: flex;
  overflow: hidden;
}

.app p {
  font-size: 1rem;
  color: #ccc;
}


.app-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
}

body {
  background-color: #1a1a1a;
  color: #e0e0e0;
  line-height: 1.6;
}

button {
  background-color: #dd5320;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b45815de;
}

a {
  text-decoration: none;
  color: inherit;
}