.AccountPage {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #282c34;
}

.editable-field {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editable-field label {
  font-weight: bold;
  margin-right: 10px;
}

.editable-field input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editable-field button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.editable-field button:hover {
  background-color: #0056b3;
}